<h1>Showing selected Article</h1>

<p>
    Title: <%= @article.title %>
</p>

<p>
    Description: <%= @article.description %>
</p>

<p>
    <%= link_to "Check the Whole List", articles_path  %>
    <%= link_to "Edit this Post", edit_article_path(@article) %>
</p>